.item-details {
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    font-size: 1rem;
    line-height: 1.2rem;
    .label {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: bold;
        padding: 0.15rem 0;
        margin-left: 1.3rem;
    }
    button {
        min-width: 38px;
        margin: 0 4px 0 0;
        font-weight: bold;
    }
}